{% extends "layout.html" %}
{% block content %}
	<div>
		<h1>listen on repeat (on repeat)</h1>
    	<div id="homepage">
	    	<p>listen to your favorite songs, forever!</p>
	    	<p>just replace the "youtube.com" part of a youtube url with "http://listenonrepeatonrepeat.herokuapp.com/"
	   		to play that video...forever. or until you close the tab.</p>
	   		<p>or you can use this handy bookmarklet: <a href="javascript:(function()%7B(function%20()%20%7Bif%20(location.search%20!%3D%3D%20%22%22)%20%7Bvar%20localURL%20%3D%20%22http%3A%2F%2Flistenonrepeatonrepeat.herokuapp.com%2Fwatch%22%20%2B%20location.search%3Blocation%20%3D%20localURL%3B%7D%7D)()%7D)()">youtube repeater</a> (click and drag) when on youtube to start playing the video...forever!</p>
	    	<p>enjoy!</p>
    	</div>
{% endblock %}

